In [1]:
from bs4 import BeautifulSoup as bs 
import requests
import pandas as pd
import json

In [2]:
main_url = "https://www.mobile.de"
#url = "https://suchen.mobile.de/fahrzeuge/details.html?id=431952942&c=EstateCar&c=SmallCar&c=SportsCar&dam=false&fr=2020%3A&isSearchRequest=true&ml=%3A50000&p=35000%3A&ref=srp&refId=e9e375a7-ecbe-887b-9e4f-82a270b3413d&s=Car&searchId=e9e375a7-ecbe-887b-9e4f-82a270b3413d&vc=Car"
url = "https://suchen.mobile.de/fahrzeuge/details.html?id=431952942"

In [33]:
request = requests.get(url)
soup = bs(request.text, "html.parser")

def extract_text_by_label(label):
    """Find a <dt> element with the label text and get the corresponding <dd> value."""
    dt = soup.find("dt", string=lambda x: x and label in x)
    if dt:
        dd = dt.find_next_sibling("dd")
        if dd:
            return dd.get_text(strip=True)
    return None

data = {
    "Brand": extract_text_by_label("Make"),
    "Model": extract_text_by_label("Model"),
    "Year": extract_text_by_label("First registration"),
    "Mileage": extract_text_by_label("Mileage"),
    "Price": soup.select_one("div.price-block") and soup.select_one("div.price-block").get_text(strip=True),
    "Engine": extract_text_by_label("Cubic capacity"),
    "HP": extract_text_by_label("Power"),
}

In [34]:
df = pd.DataFrame([data])
df

  Brand Model  Year Mileage Price Engine    HP
0  None  None  None    None  None   None  None